version: "3.4"

services:
  # REDIS
  redis:
    ports:
      - "6379:6379"
    network_mode: bridge
    image: iconviet/redis
    container_name: redis
    environment:
      - ENVIRONMENT=localhost

  # RAVENDB
  ravendb:
    ports:
      - "8080:8080"
      - "38888:38888"
    network_mode: bridge
    image: iconviet/ravendb
    container_name: ravendb
    environment:
      - ENVIRONMENT=localhost

  # RABBITMQ
  rabbitmq:
    ports:
      - "5672:5672"
      - "15672:15672"
    network_mode: bridge
    image: iconviet/rabbitmq
    container_name: rabbitmq
    environment:
      - ENVIRONMENT=localhost

  # ELASTIC
  elastic:
    ports:
      - "5601:5601"
      - "9200:9200"
      - "9300:9300"
    network_mode: bridge
    image: iconviet/elastic
    container_name: elastic
    environment:
      - ENVIRONMENT=localhost
      - "bootstrap.memory_lock=true"
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
      - "cluster.name=iconlook_localhost"