version: "3.4"

services:
  # SEQ
  seq:
    ports:
      - 8080:80
      - 5341:5341
    restart: always
    image: iconviet/seq
    container_name: seq
    environment:
      ACCEPT_EULA: Y

  # REDIS
  redis:
    ports:
      - 6379:6379
    restart: always
    image: iconviet/redis
    container_name: redis
 
  # RAVENDB
  ravendb:
    restart: always
    ports:
      - 38888:38888
    image: iconviet/ravendb
    container_name: ravendb

  # RABBITMQ
  rabbitmq:
    ports:
      - 5672:5672
      - 15672:15672
    restart: always
    image: iconviet/rabbitmq
    container_name: rabbitmq

  # ELASTIC
  elastic:
    ports:
      - 5601:5601
      - 9200:9200
      - 9300:9300
    restart: always
    image: iconviet/elastic
    container_name: elastic

  # DOCKUPDATER
  dockupdater:
    environment:
      LATEST: "true"
      INTERVAL: "60"
    image: iconviet/dockupdater
    container_name: dockupdater
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # REDIS-REPLICA
  redis-replica:
    ports:
      - 6380:6379
    restart: always
    image: iconviet/redis
    container_name: redis-replica
    command: ["redis-server", "/etc/redis/redis.conf", "--replicaof 172.17.0.1 6379"]