<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="myget.org/particular" value="https://www.myget.org/F/particular/api/v3/index.json"/>    
    <add key="agiper.com/agiper" value="http://tec.ser.agiper.com/guestAuth/app/nuget/feed/agiper/agiper/v3/index.json"/>
    <add key="iconviet.io/iconlook" value="https://builder.iconviet.io/guestAuth/app/nuget/feed/_root/iconviet/v3/index.json"/>
  </packageSources>
</configuration>