<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ICONLOOK | ICON Ecosystem Explorer</title>
    <environment names="Localhost,Development,Testing,Staging,Production">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://cdn.syncfusion.com/ej2/17.2.35/material.css" rel="stylesheet"/>
        <link href="css/site.css" rel="stylesheet"/>
        <link href="css/fa-light.min.css" rel="stylesheet"/>
        <link href="css/fa-solid.min.css" rel="stylesheet"/>
        <link href="css/fa-regular.min.css" rel="stylesheet"/>
        <link href="/css/fa-brands.min.css" rel="stylesheet"/>
        <link href="css/fontawesome.min.css" rel="stylesheet"/>
        <script src="https://cdn.syncfusion.com/ej2/17.2.35/dist/ej2.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/17.2.35/dist/ejs.interop.min.js"></script>
    </environment>
</head>
<body>
<app>Loading...</app>
<script src="_framework/blazor.webassembly.js"></script>
</body>
</html>