@inherits LayoutComponentBase
<div class="body">
    <header>
        <div class="container">
            <div class="row no-gutters align-items-center" style="min-height: 52px;">
                <div class="col-auto" style="margin-left: -16px;">
                    <a href="/">
                        <img alt="ICONLOOK" src="static/images/iconlook.png" style="max-width: 110px;"/>
                    </a>
                </div>
                <div class="col text-right">
                    <EjsMenu Items="@Items" CssClass="ejs-menu">
                        @code {

                            public List<MenuItem> Items = new List<MenuItem>
                            {
                                new MenuItem
                                {
                                    Text = "ICONVIET", Items = new List<MenuItem>
                                    {
                                        new MenuItem { Text = "Who Are We" },
                                        new MenuItem { Text = "Why Vote For Us" },
                                        new MenuItem { Text = "Active Governance" },
                                        new MenuItem { Text = "Reward Transparency" }
                                    }
                                },
                                new MenuItem
                                {
                                    Text = "VOTERS", IconCss = "fal fa-person-sign", Items = new List<MenuItem>
                                    {
                                        new MenuItem { Text = "Who Should I Vote" },
                                        new MenuItem { Text = "Why Should I Care" },
                                        new MenuItem { Text = "How To Stake With Ledger *" },
                                        new MenuItem { Text = "How To Stake With ICONex *" },
                                        new MenuItem { Text = "How Much Reward Can I Get *" }
                                    }
                                },
                                new MenuItem
                                {
                                    Text = "P-REPS", IconCss = "fal fa-users-class", Items = new List<MenuItem>
                                    {
                                        new MenuItem { Text = "Ranking", Url = "/preps" },
                                        new MenuItem { Text = "Research" },
                                        new MenuItem { Text = "Contribution" },
                                        new MenuItem { Text = "Transactions *" },
                                        new MenuItem { Text = "Alll Penalties *" }
                                    }
                                },
                                new MenuItem
                                {
                                    Text = "D-APPS", Url = "/dapps", IconCss = "fal fa-rocket", Items = new List<MenuItem>
                                    {
                                        new MenuItem { Text = "View Top 10 D-Apps *" },
                                        new MenuItem { Text = "View D-Apps Transactions *" },
                                        new MenuItem { Text = "View Exclusively Top Token *" }
                                    }
                                },
                                new MenuItem
                                {
                                    Text = "BLOCKCHAIN", IconCss = "fal fa-chart-network", Items = new List<MenuItem>
                                    {
                                        new MenuItem { Text = "View Txns *" },
                                        new MenuItem { Text = "View Pending Txns *" },
                                        new MenuItem { Text = "View Internal Transaction *" }
                                    }
                                },
                                new MenuItem
                                {
                                    Text = "CALCULATOR", IconCss = "fal fa-calculator-alt", Items = new List<MenuItem>
                                    {
                                        new MenuItem { Text = "Staking Reward *" },
                                        new MenuItem { Text = "Representative Reward *" }
                                    }
                                },
                                new MenuItem { Text = "LOGIN" }
                            };

                        }
                    </EjsMenu>
                </div>
                <div class="col-auto fs-2 pl-3 pb-1">
                    <i class="fas fa-signal positive-dark"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row py-3 align-items-center" style="min-height: 52px;">
                <div class="col">
                    We have no any intention to influence and manipulate the incoming P-Rep election!
                </div>
                <div class="col-auto">
                    <EjsSwitch></EjsSwitch>
                </div>
            </div>
            @Body
        </div>
    </main>
    <footer class="gradient">
        <div class="container">
            <div class="row">
                <div class="col" style="height: 200px;">
                </div>
            </div>
        </div>
    </footer>
</div>