@inherits LayoutComponentBase
@using ItemModel = Syncfusion.EJ2.Blazor.SplitButtons.ItemModel;
<div class="body">
    <header>
        <div class="container">
            <div class="row py-1 no-gutters align-items-center">
                <div class="col-auto" style="margin-left: -16px;">
                    <img alt="ICONVIET" src="images/iconviet-logo.png" style="max-width: 105px;" />
                </div>
                <div class="col text-right">
                    <EjsMenu Items="@MenuItems" CssClass="ejs-menu"></EjsMenu>
                </div>
                <div class="col-auto pt-1">
                    <EjsSwitch Checked="true"></EjsSwitch>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row py-3 align-items-center">
                <div class="col top-message">
                    We have no any intention to influence and manipulate the incoming PRep election. Even within our analysis, we are still trying to be neutral as much as possible
                </div>
                <div class="col-auto">
                    <EjsDropDownButton Items="@Items" CssClass="filter">MAINNET</EjsDropDownButton>
                    @code {

                        public List<ItemModel> Items = new List<ItemModel>
                        {
                            new ItemModel{ Text = "JINYONG TESTNET" },
                            new ItemModel{ Text = "YONOUSONG TESTNET" }
                        };
                    }
                </div>
            </div>
            @Body
        </div>
    </main>
    <footer class="with-gradient">
        <div class="container">
            <div class="row">
                <div class="col" style="height: 200px;">
                </div>
            </div>
        </div>
    </footer>
</div>
@code {
    public List<MenuItem> MenuItems = new List<MenuItem>{
        new MenuItem{ Text = "VOTERS", IconCss="far fa-badge-percent", Items = new List<MenuItem>{
            new MenuItem{ Text= "Who To Vote For?" },
            new MenuItem{ Text= "How Much Reward Can I Get?" },
            new MenuItem{ Text= "View Internal Transaction" }}
        },
        new MenuItem{ Text = "P-REPS", Url="/preps", IconCss="far fa-users-class", Items = new List<MenuItem>{
            new MenuItem{ Text = "P-Reps Watcher" },
            new MenuItem{ Text = "P-Reps Transactions" },
            new MenuItem{ Text = "Validation Penalties" },
            new MenuItem{ Text = "Disqualification Penalties," },
            new MenuItem{ Text = "Low Productivity Penalties" }}
        },
        new MenuItem{ Text = "D-APPS", Url="/dapps", IconCss="far fa-cube", Items = new List<MenuItem>{
            new MenuItem{ Text = "View Top 10 D-Apps" },
            new MenuItem{ Text = "View D-Apps Transactions" },
            new MenuItem{ Text = "View Exclusively Top Token" }}
        },
        new MenuItem{ Text = "BLOCKCHAIN", IconCss="far fa-project-diagram", Items = new List<MenuItem>{
            new MenuItem{ Text= "View Txns" },
            new MenuItem{ Text= "View Pending Txns" },
            new MenuItem{ Text= "View Internal Transaction" }}
        },
        new MenuItem{ Text = "CALCULATOR", IconCss="far fa-calculator-alt", Items = new List<MenuItem>{
            new MenuItem{ Text= "View Txns" },
            new MenuItem{ Text= "View Pending Txns" },
            new MenuItem{ Text= "View Internal Transaction" }}
        },
        new MenuItem{ Text = "RESOURCES", IconCss="far fa-books", Items = new List<MenuItem>{
            new MenuItem{ Text= "Delegation Reward" },
            new MenuItem{ Text= "Representative Reward" },
            new MenuItem{ Text= "Production and Verification Reward" }
        }
        },
        new MenuItem{ Text = "LOGIN" }
    };
}