@inherits LayoutComponentBase
<div class="body">
    <header>
        <div class="container">
            <div class="row py-1 align-items-center">
                <div class="col-auto">
                    <img alt="ICONVIET" src="images/iconviet-logo.png" style="max-width: 105px;" />
                </div>
                <div class="col text-right">
                    <EjsMenu Items="@MenuItems" CssClass="ejs-menu"></EjsMenu>
                </div>
                <div class="col-auto pt-1">
                    <EjsSwitch Checked="true"></EjsSwitch>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    @Body
                </div>
            </div>
        </div>
    </main>
    <footer class="with-gradient">
        <div class="container">
            <div class="row">
                <div class="col" style="height: 200px;">
                </div>
            </div>
        </div>
    </footer>
</div>
@code {
    public List<MenuItem> MenuItems = new List<MenuItem>{
        new MenuItem{ Text = "Home" },
        new MenuItem{ Text = "P-Rep", Items = new List<MenuItem>{
            new MenuItem{ Text = "View P-Rep List" },
            new MenuItem{ Text = "View P-Rep Transactions" },
            new MenuItem{ Text = "View Exclusively Top Token" }}
        },
        new MenuItem{ Text = "Staking", Items = new List<MenuItem>{
            new MenuItem{ Text= "View Txns" },
            new MenuItem{ Text= "View Pending Txns" },
            new MenuItem{ Text= "View Internal Transaction" }}
        },
        new MenuItem{ Text = "Blockchain", Items = new List<MenuItem>{
            new MenuItem{ Text= "View Txns" },
            new MenuItem{ Text= "View Pending Txns" },
            new MenuItem{ Text= "View Internal Transaction" }}
        },
        new MenuItem{ Text = "Calculator", Items = new List<MenuItem>{
            new MenuItem{ Text= "Delegation Reward" },
            new MenuItem{ Text= "Representative Reward" },
            new MenuItem{ Text= "Production and Verification Reward" }
        }
        },
        new MenuItem{ Text = "Login" }
    };
}