@inherits LayoutComponentBase
@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor.Navigations
<div class="wrapper">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col top-menu-wrapper">
                    <EjsMenu Items="@MenuItems" CssClass="top-menu"></EjsMenu>
                    <EjsSwitch Checked="true"></EjsSwitch>
                </div>
            </div>
        </div>
    </header>
    <main id="content">
        <div class="container">
            <div class="row">
                <div class="col main-body-wrapper">
                    @Body
                </div>
            </div>
        </div>
    </main>
    <footer id="footer" class="gradient-background">
        <div class="container">
            <div class="row">
                <div class="col" style="height: 200px;">
                </div>
            </div>
        </div>
    </footer>
</div>
@code {
    public List<MenuItem> MenuItems = new List<MenuItem>{
        new MenuItem{ Text = "Home" },
        new MenuItem{ Text = "P-Rep", Items = new List<MenuItem>{
            new MenuItem{ Text = "View P-Rep List" },
            new MenuItem{ Text = "View P-Rep Transactions" },
            new MenuItem{ Text = "View Exclusively Top Token" }}
        },
        new MenuItem{ Text = "Staking", Items = new List<MenuItem>{
            new MenuItem{ Text= "View Txns" },
            new MenuItem{ Text= "View Pending Txns" },
            new MenuItem{ Text= "View Internal Transaction" }}
        },
        new MenuItem{ Text = "Blockchain", Items = new List<MenuItem>{
            new MenuItem{ Text= "View Txns" },
            new MenuItem{ Text= "View Pending Txns" },
            new MenuItem{ Text= "View Internal Transaction" }}
        },
        new MenuItem{ Text = "Calculator", Items = new List<MenuItem>{
            new MenuItem{ Text= "Delegation Reward" },
            new MenuItem{ Text= "Representative Reward" },
            new MenuItem{ Text= "Production and Verification Reward" }
        }
        },
        new MenuItem{ Text = "More", Items = new List<MenuItem>{
            new MenuItem{ Text= "P-Rep Directory" },
            new MenuItem{ Text= "Charts And Stats" },
            new MenuItem{ Text= "Logout" },
        }
        },
    };
}