@layout MainLayout
@inherits LayoutComponentBase
<div class="row my-4">
    <div class="col">
        <div class="card with-shadow" style="min-height: 100px;">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        @Body
    </div>
</div>