/*!
 * https://google-webfonts-helper.herokuapp.com
 */
/* share-tech-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Share Tech Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/share-tech-mono-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url('../fonts/share-tech-mono-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/share-tech-mono-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/share-tech-mono-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/share-tech-mono-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/share-tech-mono-v9-latin-regular.svg#ShareTechMono') format('svg'); /* Legacy iOS */
}