/*
    GLOBAL
*/
body {
    min-height: 100vh;
}

app {
    display: flex;
    position: relative;
    flex-direction: column;
}

html, body, .e-control {
    color: #222222;
    font-size: 13px;
    font-family: 'IBM Plex Sans';
}

.font-weight-semibold {
    font-weight: 500 !important;
}

.font-weight-semibolder {
    font-weight: 600 !important;
}

.mono {
    font-weight: 400;
    letter-spacing: -0.5px;
    font-family: 'Roboto Mono';
}

.mono-lg {
    font-family: 'Share Tech Mono';
}



/*
    OPACITY
*/
.opacity-25 {
    opacity: 0.25;
}

.opacity-50 {
    opacity: 0.50;
}

.opacity-75 {
    opacity: 0.75;
}

.opacity-100 {
    opacity: 1.00;
}



/*
    COLOR
*/

.secondary.underline {
    text-decoration: underline;
    text-decoration-color: #cccccc;
}

.special {
    color: #e3165b !important;
    border-color: #e3165b !important;
}

.primary {
    color: #1aaaba !important;
    border-color: #1aaaba !important;
}

.secondary {
    color: #000000 !important;
    border-color: #000000 !important;
}

.positive-darkest {
    color: seagreen !important;
    border-color: seagreen !important;
}

.bg-positive-darkest {
    color: white !important;
    background-color: seagreen !important;
}

.positive-dark {
    color: mediumseagreen !important;
    border-color: mediumseagreen !important;
}

.bg-positive-dark {
    color: white !important;
    background-color: mediumseagreen !important;
}

.negative-dark {
    color: rgb(180, 0, 0) !important;
    border-color: rgb(180, 0, 0) !important;
}

.bg-negative-dark {
    color: white !important;
    background-color: rgb(180, 0, 0) !important;
}

.positive-light {
    color: limegreen !important;
    border-color: limegreen !important;
}

.bg-positive-light {
    color: white !important;
    background-color: limegreen !important;
}

.negative-light {
    color: red !important;
    border-color: red !important;

}

.bg-special {
    color: white !important;
    background-color: #e3165b !important;
}

.bg-primary {
    color: white !important;
    background-color: #1aaaba !important;
}

.bg-secondary {
    background-color: #e7eaee !important;
}



/*  
    LINK
*/
a:hover.special {
    text-decoration: none;
    color: #e3165b !important;
}

a:hover.primary {
    text-decoration: none;
    color: #12cade !important;
}

a:hover.tertiary {
    text-decoration: none;
    color: #1aaaba !important;
}

a:hover.secondary {
    text-decoration: none;
    color: #1aaaba !important;
}

a.special, a:visited.special {
    color: #e3165b !important;
}

a.primary, a:visited.primary {
    color: #1aaaba !important;
}

a.tertiary, a:visited.tertiary {
    color: #888888 !important;
}

a.secondary, a:visited.secondary {
    color: #000000 !important;
}

a:hover.no-underline {
    text-decoration: none !important;
}

a:hover.secondary.underline {
    color: #1aaaba !important;
    text-decoration: underline;
    text-decoration-color: #1aaaba;
}



/*  
    BUTTON
*/

button.special, button .special {
    color: #e3165b !important;
}

button.primary, button .primary {
    color: #1aaaba !important;
}

button.secondary, button .secondary {
    color: #888888 !important;
}



/*
    TEXT & NUMBER
*/
.fs-n2 {
    font-size: 11px;
}

.fs-n1 {
    font-size: 12px;
}

.fs-n3 {
    font-size: 10px;
}

.fs-n2 {
    font-size: 11px;
}

.fs-n1 {
    font-size: 12px;
}

.fs-0 {
    font-size: 13px;
}

.fs-1 {
    font-size: 14px;
}

.fs-2 {
    font-size: 15px;
}

.fs-3 {
    font-size: 16px;
}

.number-part {
    font-weight: 400;
}

.fraction-part {
    color: #888888;
    font-weight: 300;
}

.ls-0 {
    letter-spacing: 0;
}

.ls-1 {
    letter-spacing: 0.5px;
}

.ls-2 {
    letter-spacing: 1.0px;
}

.ls-3 {
    letter-spacing: 2.0px;
}

.ls-n1 {
    letter-spacing: -0.5px;
}

.ls-n2 {
    letter-spacing: -1.0px;
}

.ls-n3 {
    letter-spacing: -2.0px;
}

.text-dark {
    color: #111111 !important;
}

.text-light {
    color: #888888 !important;
}

.text-condensed {
    font-family: 'IBM Plex Sans Condensed';
}



/*
    CARD
*/
.card .e-grid {
    border: none;
}

.row.card {
    margin-left: 0;
    margin-right: 0;
}

.card {
    border: solid 1px#e7eaee;
}

.card .card-body {
    background-color: #ffffff;
}

.card .card-header .far,
.card .card-header .fal,
.card .card-header .fas {
    color: #888888 !important;
}

.card .card-header {
    color: #444444;
    font-weight: bold;
    padding: 10px 12px;
    background-color: #fafafa;
    border-bottom: solid 1px #e7eaee;
}

.card .e-tab-header {
    color: #444444;
    min-height: 42px;
    font-weight: bold;
    background-color: #fafafa;
    border-bottom: solid 1px #e7eaee;
}

.card .e-tab-header .e-toolbar-item {
    min-height: 42px;
}

.card .card-body .e-grid .e-gridheader {
    border-top: none;
}

.card .e-tab-header .e-toolbar-item:not(.e-separator) {
    min-height: 42px;
}



/* 
    SF-DIALOG
*/
.e-dialog.e-edit-dialog {
    overflow: hidden;
    border-radius: 5px;
}

.e-dialog.e-edit-dialog .e-dlg-header {
    font-size: 17px;
    font-weight: 600;
}

.e-dialog.e-edit-dialog .e-footer-content {
    padding: 20px;
}

.e-dialog.e-edit-dialog .e-footer-content .e-btn {
    font-weight: 500;
}



/*
    SF-GRID
*/
.e-grid .e-emptyrow {
    display: none;
}

@media screen and (min-width: 590px) {
    .e-pager .e-pagerdropdown {
        margin-top: -30px;
    }

    .e-grid .e-altrow {
        background-color: #fbfbfb;
    }

    .e-grid .e-rowcell {
        font-size: inherit;
        border-color: #e7eaee;
        color: #111111 !important;
    }

    .e-pager .e-currentitem,
    .e-pager .e-currentitem:hover {
        background-color: #1aaaba !important;
    }
}



/*
    SF-SPINNER
*/
.e-spinner-pane .e-spin-material {
    stroke: #1aaaba !important;
}



/*
    SF-INPUT
*/
.e-input-group::after,
.e-input-group::before {
    background: none !important;
}



/*
    SF-SWITCH
*/
    .e-switch-wrapper .e-switch-handle.e-switch-active {
    background-color: #1aaaba !important;
}



/*
    SF-TAB
*/

.e-tab .e-tab-header .e-indicator {
    background-color: #1aaaba;
}

.e-tab .e-tab-header .e-tab-text {
    color: #888888;
    font-weight: bold !important;
    font-family: 'IBM Plex Sans' !important;
}

.e-tab .e-tab-header .e-active .e-tab-text {
    color: #444444 !important;
}

.e-tab .e-tab-header .e-tab-icon::before,
.e-tab .e-tab-header .e-tab-icon.e-icon-left {
    color: #888888;
    width: auto !important;
    height: auto !important;
    font-size: 13px !important;
    min-width: unset !important;
}

.e-tab .e-tab-header .e-icon-left + .e-tab-text {
    margin: 0 0 0 7px !important;
}

@media screen and (max-width: 480px) {
    .e-tab .e-tab-header .e-toolbar-item .e-tab-text {
        font-size: unset;
    }
}

.e-tab .e-tab-header .e-active .e-tab-icon.e-icon-left {
    color: #1aaaba !important;
}



/*
    SF-CHIP
*/
.e-chip-list.e-chip,
.e-chip-list .e-chip {
    height: 24px;
    padding: 0 14px;
    font-size: 11px;
}

.e-chip-list.e-chip .e-chip-avatar,
.e-chip-list .e-chip .e-chip-avatar {
    margin: 0 8px 0 -14px;
}



/*
    SF-MENU
*/
.sf-menu {
    background-color: initial;
}

.e-menu-wrapper li .e-menu-url {
    color: #666666 !important;
}

.e-menu-wrapper ul .e-menu-item {
    color: #666666;
    font-weight: 600;
    padding: 3px 20px 0 20px;
}

.e-menu-wrapper .e-ul .e-menu-item {
    font-weight: 400;
    padding: 0 56px 0 28px;
}

.e-switch-wrapper .e-switch-on {
    color: white;
    background-color: #1aaaba !important;
}

.e-menu-wrapper ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: initial;
}

.e-menu-wrapper ul .e-menu-item.e-selected {
    color: #1aaaba;
    background-color: initial;
}

.e-menu-wrapper .e-ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: initial;
}

.e-menu-wrapper ul .e-menu-item .e-menu-icon {
    width: 16px;
    color: #1aaaba;
    font-size: 1rem;
    margin-top: -1px;
}

.e-menu-wrapper ul .e-menu-item.e-selected .e-caret {
    color: #1aaaba;
}

.e-menu-wrapper ul .e-menu-item.e-selected .e-menu-icon {
    color: #1aaaba;
}

.e-menu-wrapper ul .e-menu-item.e-focused .e-menu-icon {
    color: #1aaaba;
}



/*
    EFFECTS
*/
.gradient a, .grabient a {
    color: white;
}

.gradient a:hover, .grabient a:hover {
    color: white;
}

.gradient {
    color: white;
    border: none;
    -ms-background-repeat: repeat-x;
    background-repeat: repeat-x;
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    background-image: linear-gradient(150deg,#1aaaba,#0b464c);
}



/*
    CONNECTION
*/
#components-reconnect-modal {
    height: 24px;
    display: none;
    font-size: 11px;
    font-weight: bold;
}

.components-reconnect-hide {
    display: none !important;
}

.components-reconnect-failed {
    color: darkred;
    background-color: rgb(255, 197, 190);
    display: block !important;
}

.components-reconnect-show {
    color: rgb(126, 92, 8);
    display: block !important;
    background-color: #ffe100;
}

.components-reconnect-hide .reconnecting,
.components-reconnect-hide .connection-lost {
    display: none;
}

.components-reconnect-show .reconnecting {
    display: block;
}

.components-reconnect-failed .reconnecting {
    display: none;
}

.components-reconnect-show .connection-lost {
    display: none;
}

.components-reconnect-failed .connection-lost {
    display: block;
}