/*
    GLOBAL
*/
app {
    display: flex;
    position: relative;
    flex-direction: column;
}

.body {
    background-color: #f8f9fa;
}


html, body, .e-control {
    color: #222222;
    font-size: 13px;
    font-family: 'IBM Plex Sans';
}

.font-weight-semibold {
    font-weight: 600;
}

.mono {
    font-weight: 400;
    letter-spacing: -0.5px;
    font-family: 'IBM Plex Mono';
}

.mono-lg {
    font-family: 'Share Tech Mono';
}

header {
    background-color: white;
    box-shadow: 0 8px 11px -6px #000000;
    box-shadow: 0 8px 11px -6px rgba(0,0,0,0.12);
}




/*
    COLORS
*/

.special {
    color: #e3165b !important;
}

.primary {
    color: #1aaaba !important;
}

.positive-darkest {
    color: seagreen !important;
}

.positive-dark {
    color: mediumseagreen !important;
}

.negative-dark {
    color: rgb(180, 0, 0) !important;
}

.positive-light {
    color: limegreen !important;
}

.negative-light {
    color: red !important;
}

.secondary {
    color: #000000 !important;
}

.bg-primary {
    background-color: #1aaaba !important;
}

.bg-secondary {
    background-color: #e7eaee !important;
}



/*  
    LINK
*/
a .secondary {
    color: #888888 !important;
}
a.secondary, a:visited.secondary {
    color: #000000 !important;
}

a:hover.secondary {
    color: #1aaaba !important;
    text-decoration: none !important;
}

a.primary, a:hover.primary, a:visited.primary {
    color: #1aaaba !important;
}

a.special, a:hover.special, a:visited.special {
    color: #e3165b !important;
}



/*  
    BUTTON
*/

button.special, button .special {
    color: #e3165b !important;
}

button.primary, button .primary {
    color: #1aaaba !important;
}

button.secondary, button .secondary {
    color: #888888 !important;
}



/*
    TEXT & NUMBER
*/
.fs-n2 {
    font-size: 11px;
}

.fs-n1 {
    font-size: 12px;
}

.fs-n3 {
    font-size: 10px;
}

.fs-n2 {
    font-size: 11px;
}

.fs-n1 {
    font-size: 12px;
}

.fs-0 {
    font-size: 13px;
}

.fs-1 {
    font-size: 14px;
}

.fs-2 {
    font-size: 15px;
}

.fs-3 {
    font-size: 16px;
}

.ls-0 {
    letter-spacing: 0;
}

.ls-1 {
    letter-spacing: 0.5px;
}

.ls-2 {
    letter-spacing: 1.0px;
}

.ls-3 {
    letter-spacing: 2.0px;
}

.ls-n1 {
    letter-spacing: -0.5px;
}

.ls-n2 {
    letter-spacing: -1.0px;
}

.ls-n3 {
    letter-spacing: -2.0px;
}

.tx-dark {
    color: #111111 !important;
}

.tx-light {
    color: #888888 !important;
}

.tx-condensed {
    font-family: 'IBM Plex Sans Condensed';
}

/*
    CARD
*/

.card .e-grid {
    border: none;
}

.card .card-header .far {
    color: #888888;
}

.card {
    overflow: hidden;
    border-color: #e7eaee;
}

.card .card-body {
    background-color: white;
}

.card .card-header {
    color: #444444;
    min-height: 42px;
    font-weight: bold;
    border-color: #e7eaee;
    padding: 0.9rem 1.1rem;
    background-color: #fafafa;
}

.card .card-header .e-tab-header {
    margin-bottom: -1px;
}

.card .card-body .e-grid .e-gridheader {
    border-top: none;
}

.card .card-header .e-tab-header .e-toolbar-item {
    min-height: 42px;
}



/*
    EJS-GRID
*/
.e-grid .e-emptyrow {
    display: none;
}

.e-grid .e-altrow {
    background-color: #fbfbfb;
}

.e-grid .e-rowcell {
    font-size: inherit;
    border-color: #e7eaee;
    color: #111111 !important;
}




/*
    EJS-SPINNER
*/
.e-spinner-pane .e-spin-material {
    stroke: #1aaaba !important;
}



/*
    EJS-SWITCH
*/
.e-switch-wrapper .e-switch-handle.e-switch-active {
    background-color: #1aaaba !important;
}



/*
    EJS-TAB
*/
.e-tab .e-tab-header .e-tab-text {
    color: #888888;
    font-weight: bold !important;
    font-family: 'IBM Plex Sans' !important;
}

.e-tab .e-tab-header .e-indicator {
    background-color: #1aaaba;
}

.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text {
    color: #111111;
}



/*
    EJS-MENU
*/

.ejs-menu {
    background-color: initial;
}

.e-menu-wrapper li .e-menu-url {
    color: #666666 !important;
}

.e-menu-wrapper ul .e-menu-item {
    color: #666666;
    font-weight: 600;
    padding: 3px 20px 0 20px;
}

.e-menu-wrapper .e-ul .e-menu-item {
    font-weight: 400;
    padding: 0 56px 0 28px;
}

.e-switch-wrapper .e-switch-on {
    color: white;
    background-color: #1aaaba !important;
}

.e-menu-wrapper ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: initial;
}

.e-menu-wrapper ul .e-menu-item.e-selected {
    color: #1aaaba;
    background-color: initial;
}

.e-menu-wrapper .e-ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: initial;
}


.e-menu-wrapper ul .e-menu-item .e-menu-icon {
    width: 16px;
    color: #1aaaba;
    font-size: 1rem;
    margin-top: -1px;
}

.e-menu-wrapper .e-menu-item.e-selected .e-menu-icon {
    color: #1aaaba;
}

.e-menu-wrapper .e-ul .e-menu-item.e-focused .e-menu-icon {
    color: #1aaaba;
}



/*
    EFFECTS
*/
.underline {
    text-decoration: underline;
}

.gradient {
    -ms-background-repeat: repeat-x;
    background-repeat: repeat-x;
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    background-image: linear-gradient(150deg,#1aaaba,#0b464c);
}