/*!
 * https://google-webfonts-helper.herokuapp.com
 */
/* ibm-plex-mono-regular - latin */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ibm-plex-mono-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono'), local('IBMPlexMono'), url('../fonts/ibm-plex-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ibm-plex-mono-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ibm-plex-mono-v5-latin-regular.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}