/*!
 * https://google-webfonts-helper.herokuapp.com
 */
/* ibm-plex-mono-regular - latin */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ibm-plex-mono-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono'), local('IBMPlexMono'), url('../fonts/ibm-plex-mono-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ibm-plex-mono-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ibm-plex-mono-v5-latin-regular.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-500 - latin */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ibm-plex-mono-v5-latin-500.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'), url('../fonts/ibm-plex-mono-v5-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ibm-plex-mono-v5-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ibm-plex-mono-v5-latin-500.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-600 - latin */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/ibm-plex-mono-v5-latin-600.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono SemiBold'), local('IBMPlexMono-SemiBold'), url('../fonts/ibm-plex-mono-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ibm-plex-mono-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ibm-plex-mono-v5-latin-600.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-700 - latin */
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ibm-plex-mono-v5-latin-700.eot'); /* IE9 Compat Modes */
    src: local('IBM Plex Mono Bold'), local('IBMPlexMono-Bold'), url('../fonts/ibm-plex-mono-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ibm-plex-mono-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ibm-plex-mono-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ibm-plex-mono-v5-latin-700.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}