@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

app {
    display: flex;
    position: relative;
    flex-direction: column;
}

.main {
    flex: 1;
    background-color: #f8f9fa;
}

    .main .top-row {
        height: 4rem;
        background-color: white;
    }

    .main .top-menu-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .main .top-menu {
        background-color: transparent;
    }

    .main .e-menu-wrapper ul .e-menu-item {
        color: #6c757e;
        padding: 2px 30px 0 30px;
    }

    html, body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }