@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono:300,400,500,600");

.top-message {
    color: #6c757e;
}

app {
    display: flex;
    position: relative;
    flex-direction: column;
}

.card .e-grid {
    border: none;
}

.card {
    color: #363b3f;
    border-color: #e7eaf3;
}

.avatar {
    width: 20px;
    height: 20px;
    overflow: hidden;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.card .e-grid .e-rowcell {
    padding: 10px 0;
    border-color: #e7eaf3;
}

.card .card-header {
    font-weight: bold;
    border-color: #e7eaf3;
    padding: 0.9rem 1.1rem;
    background-color: white;
}

.with-rounded-circle {
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.with-rounded-corners {
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.card .e-grid .e-gridheader {
    display: none;
}

.body {
    background-color: #f8f9fa;
}

.avatar img {
    width: 100%;
    -webkit-object-fit: cover;
    object-fit: cover;
}

.ejs-menu {
    background-color: initial;
}

.e-menu-wrapper li .e-menu-url {
    color: #6c757e !important;
}

.e-menu-wrapper ul .e-menu-item {
    color: #6c757e;
    font-size: 13px;
    font-weight: 600;
    padding: 3px 30px 0 30px;
}


.mono-font {
    font-family: 'Share Tech Mono';
}

.e-menu-wrapper .e-ul .e-menu-item {
    font-weight: 400;
    padding: 0 56px 0 28px;
}

.e-switch-wrapper .e-switch-on,
.e-css.e-switch-wrapper .e-switch-on {
    color: white;
    background-color: #1aaaba;
}

.e-menu-wrapper ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: initial;
}

.e-menu-wrapper ul .e-menu-item.e-selected {
    color: #1aaaba;
    background-color: initial;
}

.e-menu-wrapper .e-ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: initial;
}

header {
    background-color: white;
    box-shadow: 0 8px 11px -6px rgba(0,0,0,0.12);
}

.e-switch-wrapper .e-switch-handle.e-switch-active,
.e-css.e-switch-wrapper .e-switch-handle.e-switch-active {
    background-color: #1aaaba;
}


.with-shadow {
    box-shadow: 0 0.5rem 1.2rem rgba(189,197,209,.2);
}

.with-gradient {
    -ms-background-repeat: repeat-x;
    background-repeat: repeat-x;
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    background-image: linear-gradient(150deg,#1aaaba,#0b464c);
}

html, body, .e-control {
    font-size: 13px;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif !important;
}