@import url('https://fonts.googleapis.com/css?family=Share+Tech|Share+Tech+Mono|Share:400,700|Source+Sans+Pro:300,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,600,700|IBM+Plex+Sans+Condensed:300,400,500,600,700|IBM+Plex+Sans:300,400,500,600,700&display=swap');

/*
    GLOBAL
*/

a {
    color: #1aaaba;
}

app {
    display: flex;
    position: relative;
    flex-direction: column;
}

.body {
    background-color: #f8f9fa;
}


html, body, .e-control {
    color: #6c757e;
    font-size: 13px;
    font-family: 'IBM Plex Sans';
}

.font-weight-semibold {
    font-weight: 600;
}

.mono {
    font-weight: 400;
    letter-spacing: -0.5px;
    font-family: 'IBM Plex Mono';
}

.mono-lg {
    font-family: 'Share Tech Mono';
}

.condensed {
    font-family: 'IBM Plex Sans Condensed';
}

header {
    background-color: white;
    box-shadow: 0 8px 11px -6px rgba(0,0,0,0.12);
}




/*
    COLORS
*/
.ascent {
    color: #1aaaba !important;
}

.special {
    color: #e3165b !important;
}

.primary {
    color: #363b3f !important;
}

.secondary {
    color: #77838f !important;
}



/*
    TEXT & NUMBER
*/
.txt-0 {
    font-size: 11px;
}

.txt-1 {
    font-size: 12px;
}

.txt-2 {
    font-size: 13px;
}

.num-0 {
    font-size: 14px;
}

.num-1 {
    font-size: 15px;
}

.num-2 {
    font-size: 16px;
}

.num-0-condensed {
    font-size: 14px;
    letter-spacing: -1px;
}

.num-1-condensed {
    font-size: 15px;
    letter-spacing: -1px;
}

.num-2-condensed {
    font-size: 16px;
    letter-spacing: -1px;
}



/*
    CARD
*/

.card .e-grid {
    border: none;
}

.card .card-header .far {
    color: #6c757e;
}

.card {
    overflow: hidden;
    border-color: #e7eaee;
}

.card .card-body {
    background-color: white;
}

.card .card-header {
    color: #363b3f;
    font-weight: bold;
    border-color: #e7eaee;
    padding: 0.9rem 1.1rem;
    background-color: #fafafa;
}

.card .e-grid .e-gridheader {
    border-top: none;
}




/*
    EJS-GRID
*/
.e-grid .e-rowcell {
    font-size: inherit;
    border-color: #e7eaee;
}

/*
    EJS-SPINNER
*/
.e-spinner-pane .e-spin-material {
    stroke: #1aaaba !important;
}

/*
    EJS-SWITCH
*/
.e-switch-wrapper .e-switch-handle.e-switch-active {
    background-color: #1aaaba !important;
}


/*
    EJS-MENU
*/

.ejs-menu {
    background-color: initial;
}

.e-menu-wrapper li .e-menu-url {
    color: #6c757e !important;
}

.e-menu-wrapper ul .e-menu-item {
    color: #6c757e;
    font-weight: 600;
    padding: 3px 20px 0 20px;
}

.e-menu-wrapper .e-ul .e-menu-item {
    font-weight: 400;
    padding: 0 56px 0 28px;
}

.e-switch-wrapper .e-switch-on {
    color: white;
    background-color: #1aaaba !important;
}

.e-menu-wrapper ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: initial;
}

.e-menu-wrapper ul .e-menu-item.e-selected {
    color: #1aaaba;
    background-color: initial;
}

.e-menu-wrapper .e-ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: initial;
}


.e-menu-wrapper ul .e-menu-item .e-menu-icon {
    width: 16px;
    color: #1aaaba;
    font-size: 1rem;
    margin-top: -1px;
}

.e-menu-wrapper .e-menu-item.e-selected .e-menu-icon {
    color: #1aaaba;
}

.e-menu-wrapper .e-ul .e-menu-item.e-focused .e-menu-icon {
    color: #1aaaba;
}



/*
    EFFECTS
*/
.underline {
    text-decoration: underline;
}

.gradient {
    -ms-background-repeat: repeat-x;
    background-repeat: repeat-x;
    -ms-background-attachment: fixed;
    background-attachment: fixed;
    background-image: linear-gradient(150deg,#1aaaba,#0b464c);
}