@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

app {
    display: flex;
    position: relative;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    background-color: #f8f9fa;
}

#header {
    background-color: white;
}

.top-menu-wrapper {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-menu {
    background-color: transparent;
}

.main-body-wrapper {
    padding: 2rem 1rem;
}

.e-menu-wrapper ul .e-menu-item {
    color: #6c757e;
    font-weight: 500;
    padding: 3px 30px 0 30px;
}

.e-menu-wrapper .e-ul .e-menu-item {
    font-size: 13px;
    font-weight: 400;
    padding: 0 56px 0 28px;
}

.e-menu-wrapper ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: transparent;
}

.e-menu-wrapper ul .e-menu-item.e-selected {
    color: #1aaaba;
    background-color: transparent;
}

.e-menu-wrapper .e-ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: transparent;
}

.e-switch-wrapper .e-switch-on,
.e-css.e-switch-wrapper .e-switch-on {
    background-color: #1aaaba;
    color: #fff;
}

.e-switch-wrapper .e-switch-handle.e-switch-active,
.e-css.e-switch-wrapper .e-switch-handle.e-switch-active {
    background-color: #1aaaba;
}


#footer {
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-image: linear-gradient(150deg,#1aaaba,#12747e);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}