@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


.standing-message {
    display: flex;
    height: 3.5rem;
    color: #6c757e;
    font-size: 13px;
    align-items: center;
}

app {
    display: flex;
    position: relative;
    flex-direction: column;
}

#header {
    background-color: white;
}

.top-menu {
    background-color: white;
}

.wrapper {
    flex: 1;
    background-color: #f8f9fa;
}

.top-menu-wrapper {
    display: flex;
    height: 3.5rem;
    align-items: center;
    justify-content: flex-end;
}

.main-body-wrapper {
    padding: 0 1rem 2rem 2rem;
}

.e-menu-wrapper ul .e-menu-item {
    color: #6c757e;
    font-weight: 500;
    padding: 3px 30px 0 30px;
}

.e-menu-wrapper .e-ul .e-menu-item {
    font-size: 13px;
    font-weight: 400;
    padding: 0 56px 0 28px;
}

.e-menu-wrapper ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: transparent;
}

.e-menu-wrapper ul .e-menu-item.e-selected {
    color: #1aaaba;
    background-color: transparent;
}

.e-menu-wrapper .e-ul .e-menu-item.e-focused {
    color: #1aaaba;
    background-color: transparent;
}

.e-switch-wrapper .e-switch-on,
.e-css.e-switch-wrapper .e-switch-on {
    color: white;
    background-color: #1aaaba;
}

.e-switch-wrapper .e-switch-handle.e-switch-active,
.e-css.e-switch-wrapper .e-switch-handle.e-switch-active {
    background-color: #1aaaba;
}

.gradient-background {
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-image: linear-gradient(150deg,#1aaaba,#0b464c);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}