@inherits LayoutComponentBase
@inject HttpContextAccessor HttpAccessor
<style>
    body {
        background: #ece9e6;
        background: linear-gradient(to top, #ece9e6, #ffffff);
        background: -webkit-linear-gradient(to top, #ece9e6, #ffffff);
    }
</style>
<main>
    <div class="pt-5 container">
        @Body
    </div>
</main>

@code
{
    protected bool IsMobile;

    protected override void OnInitialized()
    {
        IsMobile = HttpAccessor.Context.Request.Headers["User-Agent"].ToString().Contains("Mobile");
    }
}