@using Iconlook.Server
@inherits LayoutComponentBase
<style>
    .ejs-menu > .e-menu > .e-menu-item {
        height: 48px;
    }
</style>
<div class="body">
    <header class="d-none d-lg-block">
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <a href="/">
                        <span class="special font-weight-bold">[ICONLOOK LOGO]</span>
                    </a>
                </div>
                <div class="col d-inline-flex justify-content-end align-items-center">
                    <img src="static/images/iconviet.png" style="opacity: 0.85; max-width: 112px; margin-top: -6px; margin-right: -40px;"/>
                    <EjsMenu Items="MenuItems" CssClass="ejs-menu"></EjsMenu>
                </div>
                <div class="col-auto fs-2 pl-3 pb-1">
                    <i class="fas fa-signal positive-dark"></i>
                </div>
            </div>
        </div>
    </header>
    <header class="d-lg-none d-md-block">
        <div class="container px-0 py-2">
            <nav class="navbar navbar-light">
                <div>
                    <img class="text-right" src="static/images/iconviet.png" style="opacity: 0.8; max-width: 110px; margin-left: -13px;" />
                </div>
                <button type="button" class="navbar-toggler" style="border: none;" aria-expanded="false" data-toggle="collapse" data-target="#navbar_content" aria-controls="navbar_content">
                    <span>
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div id="navbar_content" style="padding: 0 4px;" class="ejs-menu collapse navbar-collapse">
                    <ul class="navbar-nav" style="padding-top: 13px;">
                        @{
                            foreach(var item in MenuItems.Where(x => !string.IsNullOrEmpty(x.Text)))
                            {
                                <li class="e-menu-item e-menu-caret-icon">
                                    <a class="nav-link" href="@item.Url">
                                        <span style="width: 25px !important;" class="primary e-menu-icon @item.IconCss"></span>
                                        <span class="fs-n1 font-weight-semibold">@item.Text</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container d-none d-sm-block">
            <div class="row pt-3 align-items-center" style="min-height: 36px;">
                <div class="col">
                    Welcome to <span>ICONLOOK</span>. If you like this site, please delegate some votes to <NavLink class="primary" href="/">ICONVIET</NavLink> so that we can continue to build more stuff for the ICON ecosystem. Thanks!
                </div>
                <div class="col-auto">
                    <EjsSwitch Checked="true"></EjsSwitch>
                </div>
            </div>
        </div>
        <div class="container pt-3">
            @Body
        </div>
    </main>
    <footer class="gradient">
        <div class="container">
            <div class="row">
                <div class="col" style="height: 200px;">
                    @Host.Current.VersionInformation
                </div>
            </div>
        </div>
    </footer>
</div>