@using Iconlook.Server
@inherits LayoutComponentBase
<div class="body">
    <header class="d-none d-sm-block">
        <div class="container">
            <div class="row no-gutters align-items-center" style="min-height: 52px;">
                <div class="col-auto">
                    <a href="/">
                        <span class="special font-weight-bold">[ICONLOOK LOGO]</span>
                    </a>
                </div>
                <div class="col pb-1 d-inline-flex justify-content-end align-items-center">
                    <img alt="ICONVIET" src="static/images/iconviet.png" style="opacity: 0.8; max-width: 110px; margin-top: 1px; margin-right: -40px;"/>
                    <EjsMenu Items="MenuItems" CssClass="ejs-menu"></EjsMenu>
                </div>
                <div class="col-auto fs-2 pl-3 pb-1">
                    <i class="fas fa-signal positive-dark"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row py-3 align-items-center" style="min-height: 52px;">
                <div class="col">
                    Welcome to <span>ICONLOOK</span>. If you like this site, please delegate some votes to <NavLink class="primary" href="/">ICONVIET</NavLink> so that we can continue to build more stuff for the ICON ecosystem. Thanks!
                </div>
                <div class="col-auto">
                    <EjsSwitch Checked="true"></EjsSwitch>
                </div>
            </div>
            @Body
        </div>
    </main>
    <footer class="gradient">
        <div class="container">
            <div class="row">
                <div class="col" style="height: 200px;">
                    @Host.Current.VersionInformation
                </div>
            </div>
        </div>
    </footer>
</div>