@using Iconlook.Server
@inherits LayoutComponentBase
<div class="body">
    <header>
        <div class="container">
            <div class="row no-gutters align-items-center" style="min-height: 52px;">
                <div class="col-auto">
                    <a href="/">
                        <span class="special font-weight-bold">[ICONLOOK]</span>
                    </a>
                </div>
                <div class="col pb-1 d-inline-flex justify-content-end align-items-center">
                    <img class="d-none d-md-block" src="static/images/iconviet.png" style="opacity: 0.8; max-width: 110px; margin-top: 1px; margin-right: -40px;"/>
                    <EjsMenu Items="MenuItems" CssClass="ejs-menu d-none d-md-block"></EjsMenu>
                </div>
                <div class="col-auto fs-2 pl-3 pb-1 d-none d-md-block">
                    <i class="fas fa-signal positive-dark"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container d-none d-sm-block">
            <div class="row pt-3 align-items-center" style="min-height: 36px;">
                <div class="col">
                    Welcome to <span>ICONLOOK</span>. If you like this site, please delegate some votes to <NavLink class="primary" href="/">ICONVIET</NavLink> so that we can continue to build more stuff for the ICON ecosystem. Thanks!
                </div>
                <div class="col-auto">
                    <EjsSwitch Checked="true"></EjsSwitch>
                </div>
            </div>
        </div>
        <div class="container pt-3">
            @Body
        </div>
    </main>
    <footer class="gradient">
        <div class="container">
            <div class="row">
                <div class="col" style="height: 200px;">
                    @Host.Current.VersionInformation
                </div>
            </div>
        </div>
    </footer>
</div>