@page "/"
@using Agiper
@namespace Iconlook.Service.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ var version = typeof(WebHost).Assembly.InformationVersion(); }
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/"/>
    <meta charset="utf-8"/>
    <title>ICONLOOK | ICON Ecosystem Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <environment names="Localhost">
        <link href="~/static/css/bootstrap.css" rel="stylesheet" />
        <link href="~/static/css/gf-ibmplexsans.css" rel="stylesheet" />
        <link href="~/static/css/gf-ibmplexsanscondensed.css" rel="stylesheet" />
        <link href="~/static/css/gf-ibmplexmono.css" rel="stylesheet" />
        <link href="~/static/css/gf-sharetechmono.css" rel="stylesheet" />
        <link href="~/static/css/ej2.css" rel="stylesheet" />
        <link href="~/static/css/fa-light.css" rel="stylesheet" />
        <link href="~/static/css/fa-solid.css" rel="stylesheet" />
        <link href="~/static/css/fa-brands.css" rel="stylesheet" />
        <link href="~/static/css/fa-regular.css" rel="stylesheet" />
        <link href="~/static/css/fa-fontawesome.css" rel="stylesheet" />
        <link href="~/static/css/site.css" rel="stylesheet" />
        <link href="~/static/css/site.connection.css" rel="stylesheet" />
        <link href="~/static/css/site.prep-sprite.css" rel="stylesheet" />
    </environment>
    <environment names="Development, Testing, Staging, Production">
        <link href="~/static/css/bundle.min.css?v=@version" rel="stylesheet"/>
    </environment>
</head>
<body>
    <div id="components-reconnect-modal">
        <div class="d-flex h-100 flex-column text-center justify-content-center">
            <span class="reconnecting">Server disconnected. Reconnecting...</span>
            <span class="connection-lost">Server connection lost. Please refresh.</span>
        </div>
    </div>
    <app>@(await Html.RenderComponentAsync<App>())</app>
    <environment names="Localhost">
        <script src="~/static/js/ej2.js"></script>
        <script src="~/static/js/ejs.interop.js"></script>
    </environment>
    <environment names="Development, Testing, Staging, Production">
        <script async src="~/static/js/bundle.min.js?v=@version"></script>
    </environment>
    <script src="_framework/blazor.server.js?v=@version" autostart="false"></script>
    <script>Blazor.start({ configureSignalR: function(builder) { builder.configureLogging(2); } });</script>
</body>
</html>