@page "/"
@using Iconlook.Server
@namespace Iconlook.Service.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />

    <title>ICONLOOK</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="Ecosystem Explorer and Analytics Platform for ICON" />

    <meta name="twitter:card" value="summary">
    <meta name="twitter:url" content="https://iconlook.io">
    <meta name="twitter:title" content="ICONLOOK | Powered by Chainalytic">
    <meta name="twitter:description" content="Ecosystem Explorer and Analytics Platform for ICON">
    <meta name="twitter:image" content="https://iconlook.io/static/images/preview-screenshot.png" />

    <meta property="og:url" itemprop="url" content="https://iconlook.io" />
    <meta property="og:site_name" content="ICONLOOK | Powered by Chainalytic" />
    <meta property="og:title" itemprop="headline" content="ICONLOOK | Powered by Chainalytic" />
    <meta property="og:description" itemprop="description" content="Ecosystem Explorer and Analytics Platform for ICON" />
    <meta property="og:image" itemprop="thumbnailUrl" content="https://iconlook.io/static/images/preview-screenshot.png" />
    
    <link async rel="stylesheet" href="~/static/css/bundle.min.css?v=@Host.Current.VersionInformation" />
    <script async type="text/javascript" src="~/static/js/bundle.min.js?v=@Host.Current.VersionInformation"></script>
</head>
<body>
<div id="components-reconnect-modal">
    <div class="d-flex h-100 flex-column text-center justify-content-center">
        <span class="reconnecting">Server disconnected. Reconnecting...</span>
        <span class="connection-lost">Server connection lost. Please refresh.</span>
    </div>
</div>
<app>@(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))</app>
<script type="text/javascript" src="_framework/blazor.server.js" autostart="false"></script>
<script type="text/javascript">Blazor.start({ configureSignalR: function(builder) { builder.configureLogging(2); } });</script>
</body>
</html>