@page "/"
@namespace Iconlook.Service.Web.Pages
@{ const string syncfusion = "17.2.40"; }
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <title>ICONLOOK | ICON Ecosystem Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment names="Localhost">
        <link href="css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment names="Development, Testing, Staging, Production">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <!-- ********** Stylesheet ********** -->
    <environment names="Localhost">
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/material.css" rel="stylesheet" />
    </environment>
    <environment names="Development, Testing, Staging, Production">
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-base/styles/material.css" rel="stylesheet" />
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-lists/styles/material.css" rel="stylesheet" />
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-grids/styles/material.css" rel="stylesheet" />
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-popups/styles/material.css" rel="stylesheet" />
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-inputs/styles/material.css" rel="stylesheet" />
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-buttons/styles/material.css" rel="stylesheet" />
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-dropdowns/styles/material.css" rel="stylesheet" />
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-navigations/styles/material.css" rel="stylesheet" />
        <link href="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-splitbuttons/styles/material.css" rel="stylesheet" />
    </environment>
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/prep-sprite.css" rel="stylesheet" />
    <link href="css/fa-light.min.css" rel="stylesheet" />
    <link href="css/fa-solid.min.css" rel="stylesheet" />
    <link href="css/fa-regular.min.css" rel="stylesheet" />
    <link href="css/fontawesome.min.css" rel="stylesheet" />
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>
    <!-- ********** JavaScripts ********** -->
    <environment names="Localhost">
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/dist/ej2.min.js"></script>
    </environment>
    <environment names="Development, Testing, Staging, Production">
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-base/dist/global/ej2-base.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-lists/dist/global/ej2-lists.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-popups/dist/global/ej2-popups.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-navigations/dist/global/ej2-navigations.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-inputs/dist/global/ej2-inputs.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-buttons/dist/global/ej2-buttons.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-dropdowns/dist/global/ej2-dropdowns.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-splitbuttons/dist/global/ej2-splitbuttons.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-data/dist/global/ej2-data.min.js"></script>
        <script src="https://cdn.syncfusion.com/ej2/@syncfusion/ej2-grids/dist/global/ej2-grids.min.js"></script>
    </environment>
    <script src="https://cdn.syncfusion.com/ej2/@syncfusion/dist/ejs.interop.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>