@page "/"
@namespace Iconlook.Service.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/"/>
    <meta charset="utf-8"/>
    <title>ICONLOOK | ICON Ecosystem Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- ********** Stylesheet ********** -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700|IBM+Plex+Sans+Condensed:400,600,700|IBM+Plex+Mono:400,600,700|Share+Tech+Mono&display=swap" rel="stylesheet"/>
    <environment names="Localhost">
        <link href="~/css/bootstrap.css" rel="stylesheet"/>
        <link href="~/css/ej2.css" rel="stylesheet"/>
        <link href="~/css/fa-light.css" rel="stylesheet"/>
        <link href="~/css/fa-solid.css" rel="stylesheet"/>
        <link href="~/css/fa-regular.css" rel="stylesheet"/>
        <link href="~/css/fontawesome.css" rel="stylesheet"/>
        <link href="~/css/prep-sprite.css" rel="stylesheet"/>
        <link href="~/css/site.css" rel="stylesheet"/>
    </environment>
    <environment names="Development, Testing, Staging, Production">
        <link href="~/css/bundle.min.css" rel="stylesheet"/>
    </environment>
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>
    <!-- ********** JavaScripts ********** -->
    <environment names="Localhost">
        <script src="~/js/ej2.js"></script>
        <script src="~/js/ejs.interop.js"></script>
    </environment>
    <environment names="Development, Testing, Staging, Production">
        <script async src="~/js/bundle.min.js"></script>
    </environment>
    <script async src="_framework/blazor.server.js"></script>
</body>
</html>