@page "/block/{hash}"
@page "/block/{height:int}"
@code {

    [Parameter]
    public int Height { get; set; }

    [Parameter]
    public string Hash { get; set; }
}
<h1>
    @Hash
</h1>
<h1>
    @Height
</h1>