@page "/"
@using Syncfusion.EJ2.Blazor.Navigations
@using Syncfusion.EJ2.Blazor.SplitButtons
@using Syncfusion.EJ2.Blazor.RichTextEditor
@using Syncfusion.EJ2.Blazor.Grids

<h1>Hello, world!</h1>
<EjsSwitch Checked="true"></EjsSwitch>
<EjsCalendar></EjsCalendar>
<EjsProgressButton>Spin Left</EjsProgressButton>
<EjsChipList EnableDelete="true">
    <ChipCollection>
        <ChipListChip Text="Andrew" TrailingIconCss="e-dlt-btn"></ChipListChip>
        <ChipListChip Text="Janet" TrailingIconCss="e-dlt-btn"></ChipListChip>
        <ChipListChip Text="Laura" TrailingIconCss="e-dlt-btn"></ChipListChip>
        <ChipListChip Text="Margaret" TrailingIconCss="e-dlt-btn"></ChipListChip>
    </ChipCollection>
</EjsChipList>
<EjsRichTextEditor>
    <ChildContent>
        <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
        <p><b>Get started Quick Toolbar to click on the image</b></p>
        <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
        <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
        <p><b>Get started Quick Toolbar to click on the image</b></p>
        <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
        <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
        <p><b>Get started Quick Toolbar to click on the image</b></p>
        <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
        <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
        <p><b>Get started Quick Toolbar to click on the image</b></p>
        <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
    </ChildContent>
</EjsRichTextEditor>