@page "/"
<h1>Hello, world! Take 5</h1>
<EjsCalendar></EjsCalendar>
<EjsChipList EnableDelete="true">
    <ChipCollection>
        <ChipListChip Text="Andrew" TrailingIconCss="e-dlt-btn"></ChipListChip>
        <ChipListChip Text="Janet" TrailingIconCss="e-dlt-btn"></ChipListChip>
        <ChipListChip Text="Laura" TrailingIconCss="e-dlt-btn"></ChipListChip>
        <ChipListChip Text="Margaret" TrailingIconCss="e-dlt-btn"></ChipListChip>
    </ChipCollection>
</EjsChipList>
