@page "/"
@using Syncfusion.EJ2.Blazor.Navigations
@using Syncfusion.EJ2.Blazor.SplitButtons
@using Syncfusion.EJ2.Blazor.RichTextEditor
@using Syncfusion.EJ2.Blazor.Grids
<div class="standing-message">
    <strong>ICONVIET</strong> - Vote For Us And You Will See - <a href="https://iconviet.io">Visit Our Web Site Now!.</a>
</div>
<div class="gradient-background" style="height: 3.5rem; border-radius: 3px;">

</div>
<div>
    <EjsChipList EnableDelete="true">
        <ChipCollection>
            <ChipListChip Text="Andrew" TrailingIconCss="e-dlt-btn"></ChipListChip>
            <ChipListChip Text="Janet" TrailingIconCss="e-dlt-btn"></ChipListChip>
            <ChipListChip Text="Laura" TrailingIconCss="e-dlt-btn"></ChipListChip>
            <ChipListChip Text="Margaret" TrailingIconCss="e-dlt-btn"></ChipListChip>
            <ChipListChip Text="Tung Nguyen" TrailingIconCss="e-dlt-btn"></ChipListChip>
            <ChipListChip Text="Rosie Phan" TrailingIconCss="e-dlt-btn"></ChipListChip>
            <ChipListChip Text="Tom Nuen" TrailingIconCss="e-dlt-btn"></ChipListChip>
        </ChipCollection>
    </EjsChipList>
</div>
<div class="row">
    <div class="col">
        <EjsRichTextEditor>
            <ChildContent>
                <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
                <p><b>Get started Quick Toolbar to click on the image</b></p>
                <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
                <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
                <p><b>Get started Quick Toolbar to click on the image</b></p>
                <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
                <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
                <p><b>Get started Quick Toolbar to click on the image</b></p>
                <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
                <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
                <p><b>Get started Quick Toolbar to click on the image</b></p>
                <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
            </ChildContent>
        </EjsRichTextEditor>
    </div>
</div>
<br/>
<div class="row">
    <div class="col">
        <EjsRichTextEditor>
            <ChildContent>
                <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
                <p><b>Get started Quick Toolbar to click on the image</b></p>
                <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
                <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
                <p><b>Get started Quick Toolbar to click on the image</b></p>
                <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
            </ChildContent>
        </EjsRichTextEditor>
    </div>
    <div class="col">
        <EjsRichTextEditor>
            <ChildContent>
                <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
                <p><b>Get started Quick Toolbar to click on the image</b></p>
                <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
                <p>RichTextEditor allows to insert images from online source as well as local computer where you want to insert the image in your content.</p>
                <p><b>Get started Quick Toolbar to click on the image</b></p>
                <p>It is possible to add custom style on the selected image inside the RichTextEditor through quick toolbar.</p>
            </ChildContent>
        </EjsRichTextEditor>
    </div>
</div>