@page "/"
@layout BodyLayout
@using Iconlook.Entity;
@using Syncfusion.EJ2.Blazor.Navigations
@using Syncfusion.EJ2.Blazor.SplitButtons
@using Syncfusion.EJ2.Blazor.RichTextEditor
@using Syncfusion.EJ2.Blazor.Grids
@using  Syncfusion.EJ2.Blazor.DropDowns
@using Iconlook.Service.Api
@inject PRepService PRepService
@inject TransactionService TransactionService
<div class="py-3 top-message">
    <strong>ICONVIET</strong> - Vote For Us And You Will See - <a href="https://iconviet.io">Visit Our Web Site Now!.</a>
</div>
<div class="p-3 d-flex with-shadow with-gradient with-rounded-corners">
    <div class="flex-grow-1">
        <EjsAutoComplete></EjsAutoComplete>
    </div>
    <div>
        <EjsButton CssClass="e-flat" IconCss="e-icons e-pause-icon">Search</EjsButton>
    </div>
</div>
<div class="row my-4">
    <div class="col">
        <div class="card with-shadow" style="min-height: 100px;">
        </div>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="card with-shadow" style="min-height: 500px;">
            <div class="card-header">Latest P-Reps</div>
            <div class="card-body px-4 pt-1 pb-2">
                <EjsGrid ModelType="@PRep" DataSource="@PReps" AllowSelection="false" EnableHover="false" GridLines="GridLine.Horizontal">
                    <GridColumns>
                        <GridColumn Width="30" TextAlign="TextAlign.Center">
                            <Template>
                                @{
                                    if (context is PRep prep)
                                    {
                                        <div class="avatar">
                                            <img alt="@prep.Name" class="with-rounded-circle" src="images/100.png" />
                                        </div>
                                    }
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Width="120" HeaderText="Name" Field=@nameof(PRep.Name)></GridColumn>
                        <GridColumn HeaderText="Location" Field=@nameof(PRep.Location)></GridColumn>
                    </GridColumns>
                </EjsGrid>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card with-shadow" style="min-height: 500px;">
            <div class="card-header">Transactions</div>
            <div class="card-body mono-font px-4 pt-1 pb-2">
                <EjsGrid DataSource="@Transactions" AllowSelection="false" EnableHover="false" GridLines="GridLine.Horizontal">

                </EjsGrid>
            </div>
        </div>
    </div>
</div>
@code{
    public PRep PRep = new PRep();
    public List<PRep> PReps { get; set; }
    public List<Transaction> Transactions { get; set; }

    protected override async Task OnInitAsync()
    {
        PReps = await PRepService.GetLatestPRepsAsync();
        Transactions = await TransactionService.GetLatestTransactionsAsync();
    }

}