@page "/"
<style type="text/css">
    
    .main.card .e-grid { min-height: 520px; }

    .e-grid .e-gridheader { display: none; }

    .e-tab { background-color: white; }

    .main.card { height: 567px !important; }

    button.submit-button:hover,
    button.search-filter:hover { color: #1aaaba !important; }

    .e-grid .e-rowcell {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .submit-input .e-input-group::after,
    .submit-input .e-input-group::before { background: none !important; }


    button.search-filter.e-active { background-color: white !important; }

    button.search-filter {
        color: #666666 !important;
        font-weight: bold !important;
        background-color: white !important;
        padding: 9px 10px 7px 10px !important;
    }

    .search-filter.e-dropdown-popup { color: #666666; }

    .search-filter.e-dropdown-popup .e-item {
        padding: 0 25px;
        font-size: 13px;
    }

    .search-filter.e-dropdown-popup .e-item:hover {
        color: #1aaaba;
        background: none;
    }

    button.submit-button {
        color: #666666 !important;
        font-weight: bold !important;
        background-color: white !important;
        padding: 9px 12px 7px 8px !important;
    }


    input.e-input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input, textarea.e-input, .e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input { padding: 5px 7px 0 7px !important; }

    .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap { border-color: transparent !important; }
</style>
<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 text-light">PRICE (USD)&nbsp;&nbsp;&nbsp;&nbsp;% 24H</div>
                            <div><span class="fs-2 mono-lg text-dark">0.2513</span>&nbsp;&nbsp;<span class="fs-2 mono-lg positive-dark" style="opacity: 0.8;">+5.06%</span></div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 text-light">MARKET CAP (USD)</div>
                            <div class="fs-2 mono-lg text-dark">$ 115,531,667</div>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 text-light">ICX SUPPLY</div>
                            <div>
                                <span class="fs-2 mono-lg text-dark">800,350,000</span>
                            </div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 text-light">% 1M INFL</div>
                            <span class="fs-2 mono-lg negative-dark" style="opacity: 0.75;">+2.7815%</span>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-bottom border-right">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 text-light">ICX CIRCULATION</div>
                            <div class="fs-2 mono-lg text-dark">496,292,812</div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 text-light">% 1M DEFL</div>
                            <span class="fs-2 mono-lg positive-dark" style="opacity: 0.75;">-0.1578%</span>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 text-light">TRANSACTIONS</div>
                            <div class="fs-2 mono-lg text-dark">
                                <span class="BlockchainResponse_TotalTransactions">0</span>
                            </div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 text-light">BLOCK HEIGHT</div>
                            <div class="fs-2 mono-lg text-dark">
                                <span class="BlockchainResponse_BlockHeight">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md mb-3 mr-md-n3">
        <div class="card px-4 pt-3 pb-4 rounded gradient shadow-sm border-0">
            <div class="row pb-1">
                <div class="col text-center">
                    <h5 class="text-white font-weight-bold">
                        EXPLORE&nbsp;&nbsp;ICON&nbsp;&nbsp;ECOSYSTEM
                    </h5>
                </div>
            </div>
            <div class="row no-gutters" style="height: 32px; border-radius: 3px; background-color: white;">
                <div class="col col-auto d-none d-sm-block">
                    <EjsDropDownButton Items="SearchItems" CssClass="search-filter">EVERYTHING</EjsDropDownButton>
                </div>
                <div class="col">
                    <EjsAutoComplete MinLength="3"
                                     TValue="string"
                                     Highlight="true"
                                     SuggestionCount="5"
                                     CssClass="submit-input"
                                     ShowClearButton="false"
                                     Query="new ej.data.Query()"
                                     Placeholder="Search P-Rep / D-App / Address / Transaction">
                        <AutoCompleteFieldSettings Value="Name"></AutoCompleteFieldSettings>
                        <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
                    </EjsAutoComplete>
                </div>
                <div class="col col-auto">
                    <EjsButton CssClass="e-flat submit-button" IconCss="far fa-search">SEARCH</EjsButton>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md mb-3">
        <div class="card px-4 pt-3 pb-4 rounded gradient shadow-sm border-0">
            <div class="row pb-1">
                <div class="col text-center">
                    <h5 class="text-white font-weight-bold">
                        TRY&nbsp;&nbsp;WALLET&nbsp;&nbsp;TOOLKIT
                    </h5>
                </div>
            </div>
            <div class="row no-gutters" style="height: 32px; border-radius: 3px; background-color: white;">
                <div class="col col-auto d-none d-sm-block">
                    <EjsDropDownButton Items="ToolItems" CssClass="search-filter">ROUND</EjsDropDownButton>
                </div>
                <div class="col">
                    <EjsAutoComplete MinLength="3"
                                     TValue="string"
                                     CssClass="submit-input"
                                     ShowClearButton="false"
                                     Placeholder="Enter a wallet address to perform">
                    </EjsAutoComplete>
                </div>
                <div class="col col-auto">
                    <EjsButton CssClass="e-flat submit-button" IconCss="far fa-search">SUBMIT</EjsButton>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md mb-3 mr-md-n3">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 text-light">STAKED&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;% SUPPLY</div>
                            <div><span class="fs-1 mono-lg text-dark">144,611,385</span>&nbsp;<span class="mono-lg text-light">•</span>&nbsp;<span class="mono-lg primary">18.07%</span></div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 text-light">UNSTAKING</div>
                            <div class="fs-1 mono-lg text-dark">885,638</div>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 text-light">VOTED&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;% STAKED</div>
                            <div><span class="fs-1 mono-lg text-dark">142,611,385</span>&nbsp;<span class="mono-lg text-light">•</span>&nbsp;<span class="mono-lg primary">98.95%</span></div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 text-light">VOTERS</div>
                            <div class="fs-1 mono-lg text-dark">15,638</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md mb-3">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-bottom border-right">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 text-light">PUBLIC TREASURY</div>
                            <div class="mono-lg">
                                <span class="fs-1 text-dark">946,736</span><span class="fs-n2 text-light font-weight-light">.1699</span>
                            </div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 text-light">% 24H DEFL</div>
                            <span class="fs-1 mono-lg positive-dark" style="opacity: 0.75;">0.1578%</span>
                        </div>
                    </div>
                    <div class="col d-inline-flex border-bottom">
                        <div class="px-1 py-3 mr-auto">
                            <div class="py-1 fs-n3 text-light">BLOCK PRODUCER</div>
                            <div class="d-flex align-items-center">
                                <img width="16" height="16" style="margin-right: 8px;" class="prep-112 rounded-circle" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                                <a class="text-dark font-weight-semibolder" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">Insight Protocol</a>
                            </div>
                        </div>
                        <div class="px-1 py-3 text-right">
                            <div class="py-1 fs-n3 text-light"><span class="font-weight-bold">5</span> BLOCKS</div>
                            <div class="fs-1 mono-lg text-light">
                                <span class="positive-light">❚❚❚❚❚</span>❚❚❚❚❚
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md mr-md-n3">
        <div class="main card mb-3 shadow-sm" style="min-height: 567px;">
            <EjsTab Animation="Animation">
                <TabEvents Selecting="Select" />
                <TabItems>
                    <TabItem Header="Governance">
                        <ContentTemplate>
                            <div class="card-body px-4 pt-1 pb-0">
                                <IndexGovernanceGrid></IndexGovernanceGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Header="Productivity">
                        <ContentTemplate>
                            <div class="card-body px-4 pt-1 pb-0">
                                <IndexProductivityGrid></IndexProductivityGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </EjsTab>
        </div>
        <div class="font-weight-bold position-absolute" style="top: 12px; right: 34px;">
            <NavLink class="primary" href="preps">MORE</NavLink>
        </div>
    </div>
    <div class="col-md">
        <div class="main card mb-3 shadow-sm" style="min-height: 567px;">
            <EjsTab Animation="Animation">
                <TabEvents Selecting="Select" />
                <TabItems>
                    <TabItem Header="Blocks">
                        <ContentTemplate>
                            <div class="card-body px-4 pt-1 pb-0">
                                <IndexBlockGrid></IndexBlockGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Header="Transactions">
                        <ContentTemplate>
                            <div class="card-body px-4 pt-1 pb-0">
                                <IndexTransactionGrid></IndexTransactionGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Header="Votes">
                        <ContentTemplate>
                            <div class="card-body px-4 pt-1 pb-0">
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </EjsTab>
        </div>
        <div class="font-weight-bold position-absolute" style="top: 12px; right: 34px;">
            <NavLink class="primary" href="preps">MORE</NavLink>
        </div>
    </div>
</div>
@code {
    public void Select(SelectingEventArgs args)
    {
        if(args.IsSwiped)
        {
            args.Cancel = true;
        }
    }
}