@page "/"
<style type="text/css">
    .e-grid .e-rowcell {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .e-tab { background-color: white; }

    .e-grid .e-gridheader { display: none; }

    .main.card { height: 926px !important; }

    .main.card .e-grid { min-height: 880px; }

    .submit-button {
        font-weight: bold;
        padding: 9px 12px 7px 8px;
        color: #666666 !important;
        background-color: white !important;
    }

    .search-filter {
        font-weight: bold;
        color: #666666 !important;
        padding: 9px 10px 7px 10px;
        background-color: white !important;
    }

    .search-filter.e-dropdown-popup {
        padding: 0;
        color: #666666;
    }

    .search-filter.e-dropdown-popup .e-item {
        padding: 0 25px;
        font-size: 13px;
    }

    .search-filter.e-dropdown-popup .e-item:hover {
        color: #1aaaba;
        background: none;
    }
    
    button.submit-button:hover, button.search-filter:hover {
        color: #1aaaba !important;
    }

    button.submit-button.e-active, button.search-filter.e-active {
        color: #1aaaba !important;
    }
    
    .submit-input .e-input-group::after, .submit-input .e-input-group::before { background: none !important; }

    input.e-input, .e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input, textarea.e-input, .e-input-group textarea.e-input, .e-input-group.e-control-wrapper textarea.e-input { padding: 5px 7px 0 7px !important; }

    .e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap, .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap { border-color: transparent !important; }
</style>
<div class="card px-3 py-3 mb-3 rounded gradient shadow-sm border-0 d-lg-none d-md-block">
    <div class="row no-gutters align-items-center" style="border-radius: 3px; background-color: white;">
        <div class="col">
            <EjsAutoComplete MinLength="3"
                                TValue="string"
                                Highlight="true"
                                SuggestionCount="5"
                                CssClass="submit-input"
                                ShowClearButton="false"
                                Placeholder="Search P-Rep / D-App / Address / Transaction">
                <AutoCompleteFieldSettings Value="Name"></AutoCompleteFieldSettings>
                <EjsDataManager Url="/api/v1/preps?take=22" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
            </EjsAutoComplete>
        </div>
        <div class="col col-auto">
            <EjsButton CssClass="e-flat submit-button" IconCss="far fa-search"></EjsButton>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md mb-3 mr-md-n3">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <MarketTile ChainResponse="ChainResponse"></MarketTile>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <SupplyTile ChainResponse="ChainResponse"></SupplyTile>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md mb-3">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <TreasuryTile ChainResponse="ChainResponse"></TreasuryTile>
                    </div>
                    <div class="col d-inline-flex border-bottom">
                        <BlockTile ChainResponse="ChainResponse"></BlockTile>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md mb-3 mr-md-n3 d-none d-md-block">
        <div class="card px-4 pt-3 pb-4 rounded gradient shadow-sm border-0">
            <div class="row pb-1">
                <div class="col text-center">
                    <h5 class="text-white font-weight-bold">
                        EXPLORE&nbsp;&nbsp;ICON&nbsp;&nbsp;ECOSYSTEM
                    </h5>
                </div>
            </div>
            <div class="row no-gutters align-items-center" style="height: 32px; border-radius: 3px; background-color: white;">
                <div class="col col-auto">
                    <EjsDropDownButton Content="EVERYTHING" Items="SearchItems" CssClass="search-filter"></EjsDropDownButton>
                </div>
                <div class="col">
                    <EjsAutoComplete MinLength="3"
                                     TValue="string"
                                     Highlight="true"
                                     SuggestionCount="5"
                                     CssClass="submit-input"
                                     ShowClearButton="false"
                                     Placeholder="Search P-Rep / D-App / Address / Transaction">
                        <AutoCompleteFieldSettings Value="Name"></AutoCompleteFieldSettings>
                        <EjsDataManager Url="/api/v1/preps?take=22" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>
                    </EjsAutoComplete>
                </div>
                <div class="col col-auto">
                    <EjsButton Content="SEARCH" CssClass="e-flat submit-button" IconCss="far fa-search"></EjsButton>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md mb-3 d-none d-md-block">
        <div class="card px-4 pt-3 pb-4 rounded gradient shadow-sm border-0">
            <div class="row pb-1">
                <div class="col text-center">
                    <h5 class="text-white font-weight-bold">
                        RUN&nbsp;&nbsp;WALLET&nbsp;&nbsp;TOOLS
                    </h5>
                </div>
            </div>
            <div class="row no-gutters" style="height: 32px; border-radius: 3px; background-color: white;">
                <div class="col col-auto">
                    <EjsDropDownButton Content="ROUND" Items="ToolItems" CssClass="search-filter"></EjsDropDownButton>
                </div>
                <div class="col">
                    <EjsAutoComplete MinLength="3"
                                     TValue="string"
                                     CssClass="submit-input"
                                     ShowClearButton="false"
                                     Placeholder="Enter a wallet address to perform">
                    </EjsAutoComplete>
                </div>
                <div class="col col-auto">
                    <EjsButton CssClass="e-flat submit-button" IconCss="far fa-search">SUBMIT</EjsButton>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl mb-3 d-none mr-xl-n4 d-md-block">
        <div class="px-3 py-3 card rounded shadow-sm">
            <div class="d-inline-flex">
                <i class="fad mr-2 primary fa-vote-yea" style="font-size: 20px;"></i>
                <a class="flex-fill text-dark text-center" href="/">Consider voting for <strong>ICONVIET</strong></a>
            </div>
        </div>
    </div>
    <div class="col-xl mb-3 d-none mr-xl-n3 d-md-block">
        <div class="px-3 py-3 card rounded shadow-sm">
            <div class="d-inline-flex">
                <i class="fad mr-2 primary fa-sort-numeric-up" style="font-size: 20px;"></i>
                <a class="flex-fill text-dark text-center" href="/">Help us reach <strong>10 millions</strong> votes</a>
            </div>
        </div>
    </div>
    <div class="col-xl mb-3 d-none mr-xl-n4 d-md-block">
        <div class="px-3 py-3 card rounded shadow-sm">
            <div class="d-inline-flex">
                <i class="fad mr-2 primary fa-mobile-alt" style="font-size: 20px;"></i>
                <a class="flex-fill text-dark text-center" href="/">iOS & Android coming in <strong>Feb 2020</strong></a>
            </div>
        </div>
    </div>
    <div class="col-xl mb-3 d-none d-md-block">
        <div class="px-3 py-3 card rounded shadow-sm">
            <div class="pr-2 d-inline-flex">
                <i class="fad mr-2 primary fa-user-secret" style="font-size: 20px;"></i>
                <a class="flex-fill text-dark text-center" href="/"><strong>113,245</strong> ICX is unstaked today</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md mb-3 mr-md-n3">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <StakingTile ChainResponse="ChainResponse"></StakingTile>
                    </div>
                    <div class="col d-inline-flex border-right border-bottom">
                        <VotingTile ChainResponse="ChainResponse"></VotingTile>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md mb-3">
        <div class="card shadow-sm border-bottom-0">
            <div class="container">
                <div class="row text-nowrap">
                    <div class="col d-inline-flex border-right border-bottom">
                        <TermTile ChainResponse="ChainResponse"></TermTile>
                    </div>
                    <div class="col leader-tile d-inline-flex border-bottom">
                        <LeaderTile PeerResponse="PeerResponse"></LeaderTile>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mb-3 mr-sm-n3">
        <div class="main card mb-3 shadow-sm" style="min-height: 926px;">
            <EjsTab Animation="Animation" EnablePersistence="true">
                <TabEvents Selecting="Select"/>
                <TabItems>
                    <TabItem Header="Governance">
                        <ContentTemplate>
                            <div class="card-body pt-1 pb-0">
                                <IndexGovernanceGrid></IndexGovernanceGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Header="Production">
                        <ContentTemplate>
                            <div class="card-body pt-1 pb-0">
                                <IndexProductionGrid></IndexProductionGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </EjsTab>
        </div>
        <div class="font-weight-bold position-absolute" style="top: 11px; right: 34px;">
            <NavLink class="primary" href="preps">MORE</NavLink>
        </div>
    </div>
    <div class="col-sm mb-3">
        <div class="main card mb-3 shadow-sm" style="min-height: 926px;">
            <EjsTab Animation="Animation" EnablePersistence="true">
                <TabEvents Selecting="Select"/>
                <TabItems>
                    <TabItem Header="Blocks">
                        <ContentTemplate>
                            <div class="card-body pt-1 pb-0">
                                <IndexBlocksGrid></IndexBlocksGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem Header="Transactions">
                        <ContentTemplate>
                            <div class="card-body pt-1 pb-0">
                                <IndexTransactionsGrid></IndexTransactionsGrid>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </EjsTab>
        </div>
        <div class="font-weight-bold position-absolute" style="top: 11px; right: 34px;">
            <NavLink class="primary" href="preps">MORE</NavLink>
        </div>
    </div>
</div>
@code {

    public void Select(SelectingEventArgs args)
    {
        if (args.IsSwiped)
        {
            args.Cancel = true;
        }
    }

}