@inject HttpContextAccessor HttpAccessor
<style>
    .address-name {
        padding: 3px 7px;
        border-radius: 3px;
        background-color: #e1fafd;
        border: solid 1px #1aaaba;
    }

    .staked_amount .number-part {
        font-weight: 600;
    }

    .staked_amount .fraction-part {
        font-weight: 400;
    }

    .unstaking_amount .number-part {
        font-weight: 700;
    }

    .unstaking_amount .fraction-part {
        font-weight: 500;
    }
</style>
<SfGrid @ref="SfGrid"
         ID="players_grid"
         EnableHover="false"
         EnableAltRow="false"
         AllowSelection="false"
         GridLines="GridLine.Horizontal"
         TValue="UnstakingAddressResponse">
    <SfDataManager Url="/api/v1/address/list/unstaking?take=12" Adaptor="Adaptors.WebApiAdaptor"></SfDataManager>
    <GridColumns>
        <GridColumn HeaderText="Address" Field="@nameof(UnstakingAddressResponse.Hash)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {
                        <a class="primary no-underline" href="https://tracker.icon.foundation/address/@address.Hash">
                            <span class="fs-n1 mono">@address.Hash</span>
                        </a>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="100" HeaderText="Amount" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right" Field="@nameof(UnstakingAddressResponse.Unstaking)">
            <Template>
                @{
                    if (context is UnstakingAddressResponse address)
                    {

                        <span class="mono ls-n2 unstaking_amount">@((address.Unstaking / 1000).ToIcxString())</span>
                        <span class="pl-1 text-light font-weight-light">ICX</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="100" HeaderText="Chance" TextAlign="TextAlign.Right" HeaderTextAlign="TextAlign.Right">
            <Template>
                <span class="mono font-weight-bold">1.52%</span>
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

@code
{
    protected bool IsMobile;

    protected SfGrid<UnstakingAddressResponse> SfGrid;

    protected override void OnInitialized()
    {
        IsMobile = HttpAccessor.Context.Request.Headers["User-Agent"].ToString().Contains("Mobile");
    }
}