@code {
    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public bool CanPage { get; set; }

    [Parameter]
    public string EditKey { get; set; }

    [Parameter]
    public object PageSizes { get; set; }

    public bool CanEdit => !string.IsNullOrWhiteSpace(EditKey);
}
<style>
    .fal.fa-star {
        opacity: 0.75;
        color: #ffdc85;
    }

    .fas.fa-star, .fas.fa-star-half-alt { color: #eebf4a; }

    .fa-star:not(:last-child),
    .fa-star-half-alt:not(:last-child) { margin-right: 4px; }
</style>
<EjsGrid EnableHover="false"
         EnableAltRow="true"
         TValue="PRepResponse"
         AllowPaging="CanPage"
         AllowSelection="CanEdit"
         ModelType="PRepModelType"
         GridLines="GridLine.Horizontal"
         Query="@($"new ej.data.Query().addParams('edit', '{EditKey}')")">
    <GridPageSettings PageSize="PageSize" PageSizes="PageSizes"></GridPageSettings>
    <GridEditSettings AllowEditing="CanEdit" Mode="EditMode.Dialog"></GridEditSettings>
    <EjsDataManager Url="/api/v1.0/preps" Adaptor="Adaptors.WebApiAdaptor"></EjsDataManager>

    <GridColumns>
        <GridColumn Width="220" Field="nameof(PRepResponse.Name)" HeaderText="P-Rep" IsPrimaryKey="true">
            <HeaderTemplate>
                <span><i class='far pl-1 pr-2 fal fa-users'></i>&nbsp;P-Rep</span>
            </HeaderTemplate>
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <div class="d-flex align-items-center">
                            <img width="20" height="20" style="margin-right: 10px;" class="prep-@prep.IdExternal rounded-circle" alt="prep.Name" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAtAQMAAADWcaq8AAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA1JREFUeNpjYBgF9AAAAWgAAUrs9XsAAAAASUVORK5CYII=">
                            <a class="secondary font-weight-semibolder" href="address/hx47cd300865284000bdb154a90fc13e6a7bb2421e">@prep.Name</a>
                        </div>
                    }
                }
            </Template>
            <EditTemplate/>
        </GridColumn>
        <GridColumn Width="126" HeaderText="Ecosystem Goals" TextAlign="TextAlign.Center">
            <Template>
                @{
                    if (context is PRepResponse prep)
                    {
                        <span>@prep.Goals</span>
                    }
                }
            </Template>
        </GridColumn>
        <GridColumn Width="127" HeaderText="Node Resiliency" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="127" HeaderText="App Development" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="127" HeaderText="Content Creation" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="127" HeaderText="Community Active" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="127" HeaderText="Ecosystem Focus" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
        <GridColumn Width="127" HeaderText="TXs Generation" TextAlign="TextAlign.Center">
            <Template>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fal fa-star"></i>
                <i class="fal fa-star"></i>
            </Template>
        </GridColumn>
    </GridColumns>
</EjsGrid>
@code {
    public PRepResponse PRepModelType = new PRepResponse();
}
