<div class="fs-n2 tx-light">
    <i class="fal pr-2 @Icon"></i>@Title</div>
<div class="fs-1 mono-lg">@Value</div>

@code {
    [Parameter]
    string Icon { get; set; }
    [Parameter]
    string Title { get; set; }
    [Parameter]
    string Value { get; set; }
}
