<div class="secondary subtext"><i class="fal pr-2 secondary @Icon"></i>@Title</div>
<div class="primary mono-font numeric-condensed">@Value</div>
@code {
    [Parameter] string Icon { get; set; }
    [Parameter] string Title { get; set; }
    [Parameter] string Value { get; set; }
}
