<div class="txt-0 secondary">
    <i class="fal pr-2 secondary @Icon"></i>@Title</div>
<div class="primary mono-lg num-0-condensed">@Value</div>

@code {
    [Parameter]
    string Icon { get; set; }
    [Parameter]
    string Title { get; set; }
    [Parameter]
    string Value { get; set; }
}
