@code {
    [Parameter]
    public ChainResponse ChainResponse { get; set; }
}
<div class="px-1 py-3 mr-auto">
    <div class="py-1 fs-n3 text-light">PRICE (USD)&nbsp;&nbsp;&nbsp;&nbsp;% 24H</div>
    <div><span class="fs-2 mono-lg text-dark">0.2513</span>&nbsp;&nbsp;<span class="fs-2 mono-lg positive-dark" style="opacity: 0.8;">+5.06%</span></div>
</div>
<div class="px-1 py-3 text-right">
    <div class="py-1 fs-n3 text-light">MARKET CAP (USD)</div>
    <div class="fs-2 mono-lg text-dark ChainResponse_MarketCap">
        $ @(ChainResponse?.MarketCap.ToString("N0") ?? "0")
    </div>
</div>