@code {
    [Parameter]
    public ChainResponse ChainResponse { get; set; }
}
<div class="px-1 py-3 flex-fill">
    <div class="py-1 fs-n3 text-light">USD PRICE&nbsp;&nbsp;•&nbsp;&nbsp;% 24H</div>
    <div>
        <span class="fs-2 mono-lg ChainResponse_IcxPrice">
            @(ChainResponse?.IcxPrice.ToString("N4") ?? "0.0000")
        </span>
        <span class="mono-lg text-light">•</span>
        <span class="mono-lg positive-dark ChainResponse_IcxPricePercentage">0.00%</span>
    </div>
</div>
<div class="px-1 py-3 flex-fill text-right">
    <div class="py-1 fs-n3 text-light">USD MARKET CAP</div>
    <div class="fs-2 mono-lg ChainResponse_MarketCap" number="@(ChainResponse?.MarketCap ?? 0)">
        $ @(ChainResponse?.MarketCap.ToString("N0") ?? "0")
    </div>
</div>