@code {
    [Parameter]
    public ChainResponse ChainResponse { get; set; }
}
<div class="px-1 py-3 mr-auto">
    <div class="py-1 fs-n3 text-light">ICX STAKED&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;% SUPPLY</div>
    <div>
        <span class="fs-2 mono-lg text-dark ChainResponse_TotalStaked">
            @(ChainResponse?.TotalStaked.ToString("N0") ?? "0")
        </span>
        <span class="mono-lg text-light">•</span>
        <span class="mono-lg primary">
            @(ChainResponse?.StakedPercentage.ToString("P2") ?? "0")
        </span>
    </div>
</div>
<div class="px-1 py-3 text-right">
    <div class="py-1 fs-n3 text-light">ICX UNSTAKING</div>
    <div class="fs-2 mono-lg text-dark ChainResponse_TotalUnstaking">
        @(ChainResponse?.TotalUnstaking.ToString("N0") ?? "0")
    </div>
</div>
